.result-table tr th {
    text-align: left;
}

.result-table .title td {
    background: #F0F0FF;
}

.result-table tr td {
    vertical-align: top;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.person-block {
    float: left;
    width: 250px;
    margin-right: 20px;
}

@media( max-width: 867px ) {
    .person-block {
        float: none;
    }
}

.person-name {
    font-style: italic;
    color: #999;
}